<section>
  <header>
    Organizer:
    <strong> {{ dateServ.date | async | moment : "DD.MM.YYYY" }} </strong>
    <hr />
  </header>

  <main>
    <ul>
      <li class="task">
        <span>
          <strong>1</strong>
          fdsfs
        </span>
        <button class="btn btn-primary">Remove</button>
      </li>
    </ul>
  </main>

  <footer>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input formControlName="title" type="text" />
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
      >
        Add
      </button>
    </form>
  </footer>
</section>
