<section>
  <header>
    Organizer:
    <strong> {{ dateServ.date | async | moment : "DD.MM.YYYY" }} </strong>
    <hr />
  </header>

  <main>
    <ul>
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong> {{ i + 1 }} </strong>
          {{ task.title }}
        </span>
        <button
          [disabled]="loading"
          class="btn btn-primary"
          (click)="deleteTask(task)"
        >
          Remove
        </button>
      </li>
    </ul>
  </main>

  <footer>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input formControlName="title" type="text" placeholder="Add a new task" />
      <button
        [disabled]="loadingAddBtn"
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
      >
        Add
      </button>
    </form>
  </footer>
</section>
